/* Container for the form */
.container {
  background-color: white; 
  padding: 40px;
  border-radius: 8px; 
  width: 500px; 
  margin: 50px auto; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo container */
.logoContainer {
  margin-bottom: 20px; 
}

/* Center the card on the screen */
.pageWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f7f6; 
}


.subtitle {
  color: #666;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 25px;
  text-align: center;
}

/* Title styling */
.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: #0D3B66;
}

/* Form elements styling */
.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: #0D3B66; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}

.submitButton:hover {
  background-color: #f3ce2b; 
}

/* Link text styling */
.link {
  margin-top: 10px;
  text-align: center;
  color: #0D3B66;
}

.link a {
  color: #0070f3;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
  color: chocolate;
}