:root {
    --bg: #fdfdff;
    --btn: #2A3D45;
    --primary: #0E103D;
    --secondary: #14453D;
    --delft-blue:#183059;
    --white-smoke:#F6F4F3;
    --indigo-dye: #124E78;
    --cream:#F0F0C9;
    --prussian-blue: #102B3F;
    --midnigth-green:#003844;
    --caribbean-current:#006C67;
    --gunmetal:#122C34;
    --navbar-bg: #242038;
    --jasper: #CD5334;
    --font-play: 'Play', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--white-smoke);
    
}

a {
    color: inherit;
    text-decoration: none;
    
}



.container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

  
.success-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.icon-box {
  margin-bottom: 20px;
}

.success-container h1 {
  font-size: 28px;
  color: #2e7d32;
}

.success-container p {
  font-size: 16px;
  margin: 1rem 0;
  color: #444;
}

.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: #28a745;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn.secondary {
  background: #6c757d;
}

/* Payment Box Styles */
.payment-box {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}

.paystack-button {
  padding: 0.7rem 2rem;
  background-color: #579b6e;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.paystack-button:hover {
  background-color: #174d79;
}

/*CSS loader/spinner*/
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.success-msg {
  color: green;
  margin-top: 10px;
}

.error-msg {
  color: red;
  margin-top: 10px;
}

.spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid #ddd;
  border-top: 3px solid #4ade80;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}