.landing-hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image {
  flex: 1;
  background-image: url('/female-nurse.png'); 
  background-size: cover;
  background-position: center;
  background-color: none;
}

.hero-text {
  flex: 1;
  background-color: rgba(0, 39, 75, 0.95); 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  text-align: left;
}

.ranking {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.main-text {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.sub-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #dee1e2;
}

/* Responsive Design */
@media (max-width: 768px) {
  .landing-hero {
    flex-direction: column;
  }

  .hero-image,
  .hero-text {
    flex: none;
    height: 50vh;
    width: 100%;
  }

  .hero-text {
    padding: 2rem;
    text-align: center;
  }

  .ranking {
    font-size: 3rem;
  }

  .main-text {
    font-size: 1.25rem;
  }
}

/* Basic container styles */
.auth-container {
  width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: chocolate;
}


/* Form elements */
.auth-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background-color: #2B303A;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #b59a00;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.forgot-link {
  text-align: right;
  margin-bottom: 10px;
}

.forgot-link a {
  font-size: 0.9rem;
  color: #0070f3;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}

.switch-auth {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.switch-auth a {
  color: #6157ec;
  text-decoration: none;
}

.switch-auth a:hover {
  text-decoration: underline;
}


.form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

