.container {
    background-color: var(--navbar-bg);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   padding: 2rem;
    
}

.fontlight {
    font-size: 30px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white-smoke);
    
}

.logoImage {
  height: 81px;
  width: auto;
}
